body{
  background-image: url(../spaaace.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10% 20%;
}

table, th, td {
  font-size: 115%;
  background-color:gray;
  color: black;
  border: 2px solid white;
  border-collapse: collapse;
  font-family: 'Bebas Neue', cursive;
}
th, td {
  padding: 15px;
}

td.rowHeading {
  font-weight: bold;
  font-size: 115%;
  text-align: left;
}

div.planetsimg{
 
}

img{
  margin-left: 23%;
  margin-bottom: 5%;
}